nav {
    border: 5px solid blue;
    border-style: dashed;
    border-width: 10px;
    border-color: violet;
}
h1 {
    border-bottom-width: 10px;
    border-bottom-color: green;
    border-bottom-style: solid;
}