* {
    box-sizing: border-box;
}
h1 {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.padding {
    background-color: lightblue;
    border: 1px solid red;
    padding: 50px 100px;
}
.margine {
    background-color: yellow;
    border: 5px solid black;
    margin: 50px;
    padding: 30px;
}